.blockLogin {
  box-sizing: content-box;
  width: 30%;
  margin-top: 81px;
  padding: 25px 24px 21px;
}

.reset {
  margin: 0 0 7%;
  font-family: Helvetica;
  font-size: 22px;
  line-height: 25px;
  color: #282828;
}
