.bgModal {
  position: "absolute";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: "rgba(0, 0, 0, 0.15)";
}

.modalContainer {
  width: 820px;
  height: 520px;
  background: #FFFFFF;
  box-shadow: 0px 2px 42px rgba(0, 0, 0, 0.111233);
  border-radius: 7px;
}