* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100%;
  position: relative;
}

body {
  max-width: 1440px;
  height: 1080px;
  background: #F8F8F8;
}

.columnOne {
  display: flex;
  justify-content: flex-end;
  width: 15%;
  height: inherit;
}

.columnTwo {
  padding-left: 3%;
  width: 65%;
  height: inherit;
}

.offsetColumnOne {
  margin-left: 15%;
}

.columnThree {
  display: flex;
  width: 20%;
  height: inherit;
}

a {
  text-decoration: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.disabledBtn {
  pointer-events: none;
  opacity: 0.5;
}

.panel {
  background: #FFFFFF;
  box-shadow: 0px 2px 42px rgba(0, 0, 0, 0.111233);
  border-radius: 7px;
}

.light {
  height: 60px;
  background-color: inherit;
}

.darkThemeWithoutChildren {
  height: 76px;
  background: linear-gradient(180deg, #090810 0%, #171236 100%);
}

.darkThemeWithChildren {
  height: 166px;
  background: linear-gradient(180deg, #090810 0%, #171236 100%);
}

.error {
  color: red;
  margin: 0;
}