.container {
  display: flex;
  justify-content: center;
  margin-top: 34px;
  height: 100vh;
  width: 100vw;
  display: flex;

  .panelAddProduct {
    padding: 5% 14%;
    width: 79%;
    height: 874px;

    .namePanel {
      font-family: Helvetica;
      font-size: 22px;
      line-height: 25px;
      color: #282828;
      margin: 0;
    }
  }
}